@import "../../../styles/variables";

.container-food {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 102%;
  margin-right: 9%;
  justify-content: space-evenly;
}
.content-menu {
  border-radius: 10px;
  margin: 7px;
  height: fit-content;
  margin-top: 10px;
  width: 46%;
  padding: 0px;
  cursor: pointer;

  .content__img {
    background-color: rgba(216, 206, 206, 0.2);
    height: 70px;
    width: 22vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    justify-content: center;
  }

  .title__food {
    background-color: $line-input;
    color: $text-on-secondary;
    font-size: 15px;
    height: 40px;
    width: 22vw;
    margin: unset;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .img-menu {
    width: 100px;
    display: flex;
  }
  @media all and (orientation: portrait) {
    // .content-menu {
    //   // width: 50%;
    // }
  }
}
