@import "../../styles/variables";
.content-order {
  background-color: rgba(216, 206, 206, 0.2);
  height: 22vh;
  width: 90%;
  padding: 0%;
  margin-bottom: 20px;
  display: unset;
  border-radius: 15px;
  .icon {
    height: 20px;
    width: 20px;
  }
  header {
    display: flex;
    justify-content: space-between;
    margin-left: 10px; 
    margin-right: 10px;
    padding: 0%;

    .content-profile {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .content-products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;

    .content-items {
      background-color: $line-input;
      height: 10vh;
      width: 13vw;
      border-radius: 10px;
      color: $text-on-secondary;
      display: flex;
      flex-direction: column;
      line-height: -50px;
      padding: 0%;
      .img-qty {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
      }
      .img-order {
        height: 60px;
        width: 70px;
      }
      .name-order {
        font-size: 10px;
      }
    }
  }
  .action-btn {
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  button {
    &.secondary-button {
      background-color: $primary;
      color: $text-on-secondary;
      padding: 0;
      height: 25px;
      border-radius: 7px;
      border-color: $primary;
      border: 1px solid $secondary-light;
      cursor: pointer;
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
      box-shadow: 10px 10px 5px 0px rgba(219, 208, 192, 0.51);
      -webkit-box-shadow: 5px 5px 5px 0px rgba(219, 208, 192, 0.51);
      -moz-box-shadow: 5px 5px 5px 0px rgba(219, 208, 192, 0.51);
      width: 20%;
      font-weight: bold;
      //transition: all 300ms linear;
      &:active,
      &:focus,
      &:hover {
        background-color: $secondary;
        color: $secondary-light;
        font-weight: bolder;
      }
    }
  }
}
