@import  "../../styles/variables";
.navBar{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px 25px;

    padding: 5px;



}
.logout{
    
    display: flex;
    justify-content:flex-end;
    align-items: center;
   
}
.textlogout{
    display: flex;
    margin-top: 37px;
    margin-right: 65px;
    color: $primary;
    cursor:pointer;
    align-items: center;
    gap:10px

}
.logoNav{
    height: 100%;
    }
    link{
        color:white;
    }