$primary: #FAEEE0;
$primary-light: #fffff6;
$primary-dark: #b3aa93;
$secondary: #FF4848;
$secondary-light: #FCD8D4;
$secondary-dark: #240000;
$text-on-primary: #FEF9EF;
$text-on-secondary: #3F0713;
$line-input: #E5DCC3;
$login-background:rgba(0, 0, 0, 0.651);
