@import "../../../../styles/variables";
.form-products{
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-form{
    background-color: rgba(216, 206, 206, 0.4);
    border-radius: 10px;
    border: none;
    font-size: 12px;
    color: $primary;
    outline: none;
    text-align: center;
   margin: 10px;
    width: 18vw;
    height: 5vh;
    ::placeholder {
      color: $text-on-secondary;
      font-weight: bold;
    }
  }
  .icon-products{
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin-left: 5px;
  }

.section-icons{
display: flex;
align-items: center;
}
.section-imputs{ 
display: flex;
}
