@import "../../../../styles/variables";
.container-products-exist {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}
.content-menu-products {
  border-radius: 10px;
  margin: 7px;
  height: fit-content;
  margin-top: 10px;
  padding: 0px;
  cursor: pointer;
  display: flex;

  .content-img-products {
    background-color: rgba(216, 206, 206, 0.2);
    height: 70px;
    width: 8vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    .img-products {
      width: 60px;
      height: 50px;
    }
  }
  .title-food-product {
    background-color: $line-input;
    color: $text-on-secondary;
    font-weight: bold;
    font-size: 15px;
    height: 70px;
    width: 15vw;
    padding: 5px;
    flex-flow: column;

    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: bold;
  }
  .actions-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
  }
  .icon-list-products {
    width: 30px;
    height: 30px;
  }
  .price-products {
    font-weight: bold;
    color: $text-on-secondary;
  }
}
