@import "../../styles/variables";
.container__Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  overflow-y: hidden !important;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;

  .column {
    display: flex;
    width: 50%;
    margin-top: 0px;
    padding: 0px;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .input__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .logo {
    display: flex;
    width: 100%;
    height: 21.5vh;
    justify-content: flex-end;
    margin-top: 3vh;
    padding: 0px;
  }
  .img__hamburger {
    width: 40vw;
    min-height: 40vh;
    max-height: 50vh;
    margin-bottom: 10vh;
  }
  .login__form {
    width: 100%;
    max-width: 80%;
    display: flex;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2.6vh;
      align-items: center;
    }

    button {
      &.primary-button {
        background-color: $primary;
        color: $text-on-secondary;
        padding: 0;
        height: 35px;
        border-radius: 10px;
        border-color: $primary;
        border: 1px solid $secondary-light;
        cursor: pointer;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 10px 10px 5px 0px rgba(219, 208, 192, 0.51);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(219, 208, 192, 0.51);
        -moz-box-shadow: 10px 10px 5px 0px rgba(219, 208, 192, 0.51);
        width: 90%;
        transition: all 300ms linear;
        &:hover {
          background-color: $secondary;
          color: $secondary-light;
          font-weight: bolder;
        }
      }
    }
    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $line-input;
      box-shadow: none;
      outline: 0 !important;
      border-radius: 0;
      transition: all 300ms linear;
      padding: 15px;
      color: $text-on-primary;
      width: 80%;
      text-indent: 6.5vh;

      &:focus {
        border-bottom-color: $secondary;
      }
    }

    .error__section {
      display: flex;
      margin-top: 20px;
      height: 30px;
      color: $primary;
      font-weight: bolder;
      height: 50px;
    }
    .icon {
      position: fixed;
      margin-left: -15vw;
      width: 30px;
      height: 30px;
    }
    @-moz-document url-prefix() {
      .icon {
        margin-left: -31vw;
      }}
  }

  @media all and (orientation: portrait) {
    .logo {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-left: 24vw;
      height: 20vh;
    }

    .img__hamburger {
      // display: none;
      position: fixed;
      margin-top: -10px;
      min-width: 10vw;
      max-width: 20vw;
      min-height: 9vh;
      max-height: 20vh;
      // background: rgba(0, 0, 0, 0.205);
      // background-image: linear-gradient( $secondary-dark, rgba(0, 0, 0, 0));
      background-image: linear-gradient($login-background, rgba(0, 0, 0, 0));
      padding: 2vh;
      border-top-left-radius: 90px;
      border-top-right-radius: 90px;
    }
    .column {
      width: 90%;
    }

    .login__form {
      form {
        //  background-color:$secondary-dark;
        background-color: $login-background;
        border-radius: 10px;
        padding: 4vh 0px;
        //  box-shadow: inset 9.5vh 1em $secondary;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        //  margin-bottom: 6vh;
      }
      .icon {
        display: flex;
        margin-left: -27vw;
      }
    }
  }
}
